@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.tabela {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4c4c4;
}

.tabela table {
    background-color: #ffffff;
    padding: 16px;
    border-radius: 5px;
}

.tabela table {
    background-color: black;
    color: #ffffff;
}

.tabela table head th {
    height: 46px;
}
.tabela table tbody td{
    padding: 0 16px;
    line-height: 40px;
    /*outline:1px solid #000000;
    outline-offset: -1px; */
}
.tabela table tbody tr:nth-child(odd){
    
}